*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222327;
    padding: 28px 12%;
    transition: all .50s ease;
}
.navbar-logo{
   display: flex;
   align-items: center; 
}
.navbar-logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.navbar-logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar-list{
    display: flex;
}
.navbar-list a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar-list a:hover{
    color: var(--main-color);
}
/* .navbar-list a.active{
    color: var(--main-color);
} */
.navbar-main{
    display: flex;
    align-items: center;
}
.navbar-main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.navbar-user{
    display: flex;
    align-items: center;
}
.navbar-user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.navbar-main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width:1280px){
    .navbar{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar-list a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width:1090px){
   #menu-icon{
    display: block;
   } 
   .navbar-list{
    position: absolute;
    top: 100%;
    right: 2%;
    width: 270px;
    height: 29vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10%;
    transition: all .50s ease;
   }
   .navbar-list a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
   }
   .navbar-list a:hover{
    color: var(--text-color);
    transform: translateY(5px);
   }
   .navbar-list a.active{
    color: var(--text-color);
   }
   
}

.account-name{
    padding-right: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}
.account-name .nav-name{
    padding-left: 10px;
}
.nav-logout{
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(136, 38, 38);
    transition: .5s ease;
    margin-right: 10px;
}
.nav-logout:hover{
    background-color: transparent;
}